{% extends "base.html" %} {% block content %} {% for book in books %}
<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <small class="text-muted"
        >Added at {{ book.date_posted|date:"F d, Y" }}</small
      >
    </div>
    <h2>
      <a class="article-title" href="{% url 'update_book' book.id %}"
        >{{ book.name }}</a
      >
    </h2>
    <p class="article-content">{{ book.description }}</p>
  </div>
</article>
{% endfor %}
<a class="btn btn-outline-info" href="{% url 'add_book' %}">Add New Book</a>
{% endblock content %}
