{% extends "base.html" %} {% block content %}
<div class="content-section">
  <form id="loginForm" method="post" action="{% url 'login_api' %}">
    {% csrf_token %}
    <div class="form-group">
      <label for="username">Username</label>
      <input
        class="form-control"
        type="text"
        name="username"
        id="username"
        required
      />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        class="form-control"
        type="password"
        name="password"
        id="password"
        required
      />
    </div>
    <div class="form-group">
      <button class="btn btn-outline-info" type="submit">Login</button>
    </div>
  </form>
  <div class="border-top pt-3">
    <small class="text-muted">
      Need An Account?
      <a class="ml-2" href="{% url 'register' %}">Sign Up Now</a>
    </small>
  </div>
</div>
<script>
  document
    .getElementById("loginForm")
    .addEventListener("submit", function (event) {
      event.preventDefault(); // Prevent form submission and page reload
      // Get form data
      const formData = new FormData(event.target);

      fetch("/login_api/", {
        method: "POST",
        body: formData,
      })
        .then((response) => response.json())
        .then((data) => {
          // Handle the response from the API
          console.log(data); // You can display a success message or handle errors

          // Check if the login was successful
          if (data.token) {
            // Redirect to the home page
            window.location.href = "/";
          } else {
            // Handle login failure (optional)
            console.log("Login failed: ", data.error);
          }
        })
        .catch((error) => {
          console.error("Error: ", error);
          console.log("Account not found!");
        });
    });
</script>

{% endblock content %}
